@{
    ViewBag.Title = "About";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<div style="height:550px; overflow-y:auto">
    <p>
        Gone are the days when you have to roll up your sleeves and get dirty to invest in agri-business, Now made easy by JILIPE you only need to register to open an account, select your portfolio of various agricultural products in upcoming cycle and make payment online. Its that EASY all our interactions and transactions are online.
    </p>

    <p>
        For a diversified portfolio from short to long term investments, we purposely curate a varied set of agricultural products to invest in. As different products have different entry points of investment, JILIPE platform accommodates an equally diversified portfolio of investors. There is something for everyone.
    </p>

    <p>
        Partnering with largescale specialized farmers who have been in the industry with verifiable results to back them up we remove the speculation in the agri-business investment. What’s more ALL the investments made on the JILIPE platform are insured.
    </p>
</div>
