@{
    ViewBag.Title = "Corporate Social Responsibility";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<div style="height:550px; overflow-y:auto">
    <p>
        JILIPE platform has benefited the youth in the villages as we have our farms in marginalized areas thus creating exposure and education to our largely employed youth.
    </p>

    <p>
        We are happy to share farming experiences and passing knowledge to our youth which help them to be part farmers for our platform.
    </p>

    <p>
        We are hoping to partner with various counties to help and build land productivity in under developed areas.
    </p>

    <p>
        JILIPE with its partners and well-wishers is in the process of planting 5,000,000 trees to contribute with the governments efforts to protect nature.
    </p>
</div>