@{
    ViewBag.Title = "Terms & Conditions";
}
<h4>@ViewBag.Title.</h4>
<h4>@ViewBag.Message</h4>

<div style="height:550px; overflow-y:auto">

    <p>1. BACKGROUND</p>
    <p>
        This agreement outlines the terms and conditions (the “Terms”) between you (a “Investor”, “you”) and JILIPE platform (“JILIPE”, the “Company”, “we”, or “us”) under which you agree to invest to cultivate farm plots through our JILIPE platform.
    </p>

    <ul>
        <li>It is important that you read these Terms carefully. We strongly recommend that you seek independent advice when considering whether to invest in our products with your money through the Platform.</li>
        <li>We do not provide any advice, nor do we make any recommendations to you. The Company solely allows you to invest on our Platform. It is your responsibility to assess whether the Platform is suitable or appropriate for your needs and any decision made to use our Services is done so entirely at your own risk. Please be aware that execution of these Terms does not imply that we have confirmed that use of the Platform and our Services are suitable or appropriate for you by using the Platform, you confirm that you have the necessary experience and knowledge.</li>
        <li>You confirm your agreement to these Terms either by registering as an investor on our platform or by signing a copy of these Terms.</li>
        <li>By continuing on our platform, you agree to the following terms together with the Terms of Use, consent to our privacy policy, agree to transact business with us and receive communications relating to the sponsorship electronically.</li>
    </ul>

    <p>2. LEGAL AND REGULATORY INFORMATION</p>
    <p>
        JILIPE is a company registered in Kenya address at 52116 – 00200 Nairobi, Mombasa road, <br />
        JILIPE is an Agriculture company providing innovative and digital solutions for its users to invest in various farm products and for farmers to gain sponsorship to cultivate farms.
    </p>

    <p>3. INVESTMENT TERMS</p>
    <p>
        The investor will receive periodic updates on the status of the farm by email. The updates are also available on your profile on the Platform. You are expected to review all notifications, updates, and reports from jilipe.com as they represent a record of information pertaining to your investment contribution during a farming cycle
        <ul>
            <li>You are entitled to request for a physical visit to your sponsored farm, however, you must provide us with at least 1-week notice to schedule a visit not farm visit is at investors cost.</li>
            <li>At the beginning of a farming cycle, you will be expected to pay costs related to the lease of land for farming, seedling/livestock, fertilizers, maintenance costs, and the cost of supervision and administration. All costs are included in your investment contribution</li>
            <li>You agree that by investing in our farms, your contribution is tied and unavailable for the entire duration of the farming cycle and neither JILIPE nor the farmers can or will refund your contribution until the successful completion of a farming cycle</li>
            <li>Any profits from a successful farming cycle are remitted to the electronic wallet on the Platform when the produce is harvested and sold (i.e. upon completion of the farming cycle)</li>
            <li>At the end of a successful farming cycle, you can decide whether to withdraw your funds from the electronic wallet on the Platform and transfer to a bank account you provide us with or to sponsor a farm for a new farming cycle</li>
            <li>At the end of a farming cycle, any profits made during harvest will be shared between the investors, the farmer and JILIPE in a 40%:40%:20% ratio respectively.</li>
            <li>You acknowledge that you do not own any of the farms cultivated and are only entitled to the proceeds of any farming cycle you participate in.</li>
        </ul>
    </p>

    <p>4. INVESTORS REPRESENTATIONS AND WARRANTIES</p>
    <p>
        Representations and warranties are statements and promises made by you to the Company, which we rely on as being accurate in our dealings with you. You make the following representations and warranties to us at the time of agreeing to these Terms and every time you use the Platform or Services;
        <ul>
            <li>you are over the age of 21 years;</li>
            <li>you are of sound mind and have the capacity to enter into these Terms and be matched to a farm;</li>
            <li>all personal information that you provide about yourself is accurate and true to the best of your knowledge;</li>
            <li>you hold a bank account in Kenya in your own name and will use this account to transfer money to our account when you invest in a farm and to receive refunds of contributions made and profits earned;</li>
            <li>you will only ever sponsor with your own money unless you are authorized on behalf of a third party (“Third Party”) and we agree that you may act on behalf of that Third Party.</li>
            <li>you are not using any illegal funds or attempting to launder by investing in a farm</li>
            <li>if you are registering or accepting these Terms on behalf of a legal entity such as a company, trust or partnership, you are legally authorized to do so and we may request evidence of such legal entitlement (by way of a copy of any document which shows the valid and subsisting authorization);</li>
            <li>you are not breaching any laws or regulations that are applicable to you or any company, trust or partnership upon whose instructions you are acting.</li>
        </ul>
    </p>

    <p>5. ACCESS AND USE</p>
    <p>
        <ul>
            <li>The Platform and Website is, at all times, subject to our Website Terms of Use.</li>
            <li>Secure access to the Platform is provided by way of your username and password. These log-in credentials are unique to you and are the primary method of securely identifying you when delivering our Services to you. It is therefore extremely important that you keep your username and password secure at all times.</li>
            <li>If you suspect that your secure access to the Platform has been compromised in any way, it is your responsibility to contact us.</li>
            <li>You confirm that you will only use our Platform for the purposes set out in these Terms.</li>
            <li>You confirm that you will not attempt to gain unauthorized access to the secure areas of the Website or Platform and furthermore you will not attempt to use code or software to manipulate or automate functions available on the Website.</li>
            <li>You understand that we may store your IP address information and may monitor your use of the Website in accordance with our cookie policy.</li>
            <li>Access to the Platform may be restricted at the discretion of the Company, particularly during periods of maintenance and updating.</li>
            <li>We have the right not to act on your instructions including where we deem that your instruction was not sufficiently clear, or we could not verify your identity to our satisfaction, or the instruction was not made by you, or we believe that the instruction may be related to an illegal activity.</li>
        </ul>
    </p>

    <p>6. ANTI-MONEY LAUNDERING</p>
    <p>Where we discover that the Platform is being used to launder money or for any suspicious transactions, we have an obligation to report your activities to the relevant authorities without recourse to you.</p>

    <p>7. FOREIGN EXCHANGE RISK</p>
    <p>
        <ul>
            <li>Where an investor contributes in a currency other than the Kenya shilling, foreign exchange gain or loss and fluctuations in currency rates may have an impact on the profit made on such contribution by the investor.</li>
            <li>All profits on contribution shall be converted and returned in Kenya shilling based on the Central Bank of Kenya (CBK) official exchange rate. The Investor therefore enters into any transactions in currencies other than the Kenya shilling at their sole risk and shall bear all responsibilities for any gains or loss as a result.</li>
            <li>Unexpected changes in currency exchange market conditions may have an impact on the extent of profit the investor would be exposed to such as when there is an upward or downward movement in the relevant rates.</li>
            <li>The investor understands and is able to assume the risk of loss associated and agrees to be liable for any resulting deficit this might have on contributions made or profits earned.</li>
        </ul>
    </p>

    <p>8. TERMS AND TERMINATION</p>
    <p>
        <ul>
            <li>Except as otherwise terminated in accordance with the provisions below, these Terms shall commence on the date you register to sponsor a farm with the Company and shall remain valid and binding for as long as you have outstanding sponsored farming cycles.</li>
            <li>These Terms may be superseded by any amended Terms.</li>
            <li>These Terms may be terminated by you provided that you have no outstanding sponsored farming cycle. Notice of termination must be provided in writing to info@jilipe.com</li>
            <li>These Terms may be terminated by the Company at any time without notice.</li>
        </ul>
    </p>

    <p>9. PRIVACY</p>
    <p>You confirm that you have read and understood the Company’s Privacy Policy which provides information on how we use and store the personal information that you provide to us and you further acknowledge that the Company may amend and update this policy from time to time.</p>

    <p>10. INDEMNITY</p>
    <p>Subject to the Terms of Insurance and any insurance claims settled, you agree that the Company has no obligation to reimburse or indemnify you for any cost, loss or liability which you incur as a result of the failure of a farm to yield according to expectations</p>
    <p>You agree to indemnify and hold harmless the Company, any farmer, and all our other agents or sub-contractors, against all liabilities, costs, expenses, damages and losses (including any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest penalties and legal and other reasonable professional costs and expenses) suffered or incurred as a result of:</p>
    <p>
        <ol>
            <li>your fraudulent or illegal use of the Platform, the Services or the Website;</li>
            <li>your negligence or any default by you of any of these Terms or the terms of any investment Agreement to which you are matched;</li>
            <li>any inaccurate or incomplete information that you have knowingly provided to us;</li>
            <li>your allowing any other person to access your account either with your permission or as a result of your failure to keep your username and password private;</li>
            <li>any service that you have offered, whether with or without our permission, to another third party using our Platform, Services or Website;</li>
            <li>any claim made against you for actual or alleged infringement of the Company’s Intellectual Property Rights or any actual or alleged infringement of a third party’s Intellectual Property Rights arising out of or in connection with the Services or your use of the Platform</li>
        </ol>
    </p>

    <p>11. DISPUTE RESOLUTION</p>
    <p>This Agreement shall be governed by the Laws of the Federal Republic of Kenya. Any dispute arising out of this Agreement, which cannot be settled, by mutual agreement/negotiation within 30 days shall be referred to arbitration by a single arbitrator at the High Court of Arbitration and governed by the Arbitration and Conciliation Act, Laws of the Federal Republic of Kenya.</p>
    <p>The arbitrator shall be appointed by the Parties, where Parties are unable to agree on the choice of an arbitrator, the choice of arbitration shall be referred to the high court of arbitration.</p>
    <p>The findings of the arbitrator and subsequent award shall be binding on the Parties and may be enforced through a Kenyan court of law. Each Party shall bear its cost in connection with the Arbitration.</p>

    <p>12. APPLICABLE LAW</p>
    <p>This Agreement shall be interpreted and governed by the laws in force in the Republic of Kenya. The Parties submit to Arbitration and waive any objections based upon venue.</p>

    <p>13. CONTACT US</p>
    <p>If you have any question regarding this Agreement, or comments about the Site or its contents should be directed to info@jilipe.com</p>
    <p>This document was last updated on 08 JUNE 2019</p>

</div>