@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Gone are the days when you have to roll up your sleeves and get dirty to invest in
    agri-business! Now made easy, on Agri-Invest you only need to register to open your
    account, select your portfolio of various agricultural products in upcoming cycles
    and make payment online. It's that EASY! All our interactions and transactions are
    online!
</p>

<p>
    For a diversified portfolio from short to long term investment, we purposely curate
    a varied set of agricultural products to invest in. As different products have different
    entry points of investments, Agri-Invest platform accommodates an equally diversified
    portfolio of investors. There''s something for everyone!
</p>

<p>
    Partnering with trusted large scale specialized farmers who have been in the industry with
    verifiable results to back them up we remove the speculation in the agri-business investment.
    What's more, ALL the investments made on the Agri-Invest platform are insured!
</p>